* {
    margin: 0;
    padding: 0;
}

/* Nav-bar */
body {
    margin: 0 auto;
    background-image: url('images/numbers-matrix.gif');
    width: 1000px;
    gap: 5000px;
    
}

.nav-bar {
    background-color: rgb(31, 32, 34);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Courier;
    margin-bottom: 150px;
    border: 2px solid chartreuse;
    position: fixed;
    width: 1000px;
    overflow: hidden;
    top: 0;
}

span {
    color: white;
}

.head {
    color: chartreuse;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

/* Name container */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#str {
    width: 100%;
    padding: 20px;
    height: auto;
    font-family: courier;
    font-size: 1 em;
    margin: 60px 20px 0 0;
    color: chartreuse;
}

.name-container {
    height: 200px;
    width: 300px;
    background-color: rgb(31, 32, 34);
    border: 2px solid chartreuse;
    margin-left: 340px;
    border-radius: 25%;
    text-align: center;
    color: chartreuse;
    font-family: Courier;
    margin-bottom: 100px;
    margin-top: 200px;
}

.name {
    margin-top: 50px;
}

.profession {
    margin-top: 7px;
}

/* File Buttons */

.file-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 400px;
}

img {
    height: 200px;
    width: 200px;
    background-color: none;
    transition: 500ms;
}

button {
    background-color: transparent;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: courier;
    font-weight: bold;
}



.classified {
    position: absolute;
}

/* about page */

.box {
    width: 90%;
    margin-left: 50px;
    margin-right: 100px;
    background-color: rgb(31, 32, 34);
    height: 900px;
    border-radius: 25%;
    border: 2px solid chartreuse;
    margin-bottom: 500px;
    font-family: courier;
    color: chartreuse;
    text-align: center;
    padding-top: 20px;
}



.top-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 30px;
}

.trip {
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: 2px solid chartreuse;
    margin-top: 50px;
}


.info {
    height: 600px;
    width: 500px;
    background-color: black;
    border: 2px solid chartreuse;
    border-radius: 25%;
    font-family: courier;
    color: chartreuse;
    text-align: center;
}



.bio {
    margin: 60px 20px 0 0px;
}

.para {
    height: 300px;
    width: 100%;

}



.logo {
    height: 100px;
    width: 100px;
}

.contact-box {
    height: 150px;
    width: 500px;
    background-color: black;
    border: 2px solid chartreuse;
    border-radius: 15%;
    margin-left: 200px;
    margin-top: 50px;
    font-family: courier;
    color: chartreuse;
    text-align: center;
}

a {
    color: chartreuse;
    text-decoration: none;
    font-weight: bold;
}

.email-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.contact {
    height: 30px;
    width: 30px;
}

h3 {
    margin-top: 10px;
}

/* Project page */

.project-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.trio {
    height: 100px;
    width: 50x;
    margin-top: 50px;
    margin-left: 20px;
}

.current {
    margin-top: 50px;
}


body {
    font-family: courier;
}

#chartdiv {
    width: 700px;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: chartreuse;
    color: chartreuse;
    border-radius: 25%;
    font-weight: bold;

}



#strTwo {
    font-weight: bold;
}

/* Reasoning for Coding */

.envelope {
    animation: wiggle 2s linear infinite;
    margin-left: 264px;
    margin-top: 20px;
    height: 100px;
    width: 100px;

}

/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}


.arrow {
    margin-top: 50px;
    font-weight: bold;
}

.info2 {
    height: 600px;
    width: 500px;
    background-color: black;
    border: 2px solid chartreuse;
    border-radius: 25%;
    font-family: courier;
    color: chartreuse;
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
    padding-left: 10px;
}


.bio {
    margin: 60px 20px 0 10px;
}

.trip2 {
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: 2px solid chartreuse;
}



#fade_out {
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    margin-left: 150px;
}

#fade_out img {
    position: absolute;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

#fade_out img.top:hover {
    opacity: 0;
}





@media (max-width: 500px) {
    body {
        width: 500px;
        margin: 0 auto;
        background-image: url('images/numbers-matrix.gif');
        align-content: center;
    }

    .nav-bar {
        background-color: chartreuse;
        color: black;
        position: fixed;
        width: 100%;
        overflow: hidden;
        top: 0;
    }

    .name-container {
        margin-left: 100px;
        background-color: chartreuse;
        color: black;
    }

    .head {
        color: black;
    }

    img {
        height: 150px;
        width: 150px;
        margin-right: 15px;
    }

    .classified {
        font-size: x-small;
        margin-right: 15px;
    }

    .sizing {
        height: 80%;
        width: 80%;
    }

    .logo {
        height: 50px;
        width: 50px;
        margin-top: 200px;
        margin-left: 10px;
    }

    .image-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #str {
        width: 100%;
        padding: 20px;
        height: auto;
        font-family: courier;
        font-size: 1 em;
        margin: 10px 10px 0px 0px;
        color: chartreuse;

    }


    .trip {
        height: 100px;
        width: 100px;
    }

    .trip2 {
        height: 100px;
        width: 100px;
        margin-top: 50px;
    }


    .about-box {
        margin-top: 100px;
    }

    .info {
        height: 550px;
        width: 300px;
    }

    .contact-box {
        height: 150px;
        width: 300px;
        background-color: black;
        border: 2px solid chartreuse;
        border-radius: 15%;
        margin-left: 80px;
        margin-top: 50px;
        font-family: courier;
        color: chartreuse;
        text-align: center;
    }

    .contact {
        height: 20px;
        width: 20px;
    }

    .linkage {
        font-size: small;
    }

    .pie-chart {
        height: 200px;
        width: 200px;
        margin-left: 130px;
    }

    .box {
        margin-left: 15px;
        background-color: chartreuse;
        color: black;
    }

    .skill {
        background-color: chartreuse;
        color: black;
    }

    #chartdiv {
        width: 430px;
        height: 300px;
        margin-left: 10px;
        margin-top: 10px;
        background-color: chartreuse;
        color: chartreuse;
        border-radius: 25%;
    }

    .weather {
        color: black;
    }

    .para {
        height: 30%
    }

    .envelope {
        margin-left: 119px;
    }

    .info2 {
        width: 300px;
        height: 550px;
        margin-left: 70px;
    }

    #fade_out {
        margin-left: 100px;
    }


}